
@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron">
        <h1 class="display-4">Sveiki, Atvyke!</h1>
        <p class="lead">Čia mūsų biblioteka.</p>
        <hr class="my-4">
        <p>Knygų katalogas.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="Index" role="button">Užsakyti knygą</a>
    </div>

